* {
    font: 13px/1.5 '微软雅黑', Verdana, Helvetica, Arial, sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    overflow: hidden;
}

body {
    background: url(../img/big.jpg) no-repeat center;
    background-size: 100% 100%;
}

a {
    color: #27A9E3;
    text-decoration: none;
    cursor: pointer;
}

.login {
    margin: 258px auto 0 auto;
    min-height: 420px;
    max-width: 420px;
    border-radius: 10px;
    /* overflow-x: hidden; */
    box-sizing: border-box;
}

.one {
    text-align: center;
}

.codeInput {
    width: 180px;
    float: left;
}

a.logo {
    display: block;
    height: 58px;
    width: 167px;
    margin: 0 auto 30px auto;
    background-size: 167px 42px;
}

img.logo {
    position: absolute;
    left: 54px;
    top: 40px;
}

.message {
    margin: 30px 0 0 0;
    position: relative;
    color: #ffffff;
    font-size: 30px;
    font: bold;
    text-shadow: 1px 1px 1px #333333;
    text-align: center;
}

#darkbannerwrap {
    background: url(../img/aiwrap.png);
    width: 18px;
    height: 10px;
    margin: 0 0 20px -58px;
    position: relative;
}

input[type=text],
input[type=file],
input[type=password],
input[type=email], select {
    border: 1px solid #DCDEE0;
    vertical-align: middle;
    border-radius: 10px;
    height: 50px;
    padding: 0px 20px;
    font-size: 22px;
    color: #000;
    outline: none;
    width: 100%;
}

    input[type=text]:focus,
    input[type=file]:focus,
    input[type=password]:focus,
    input[type=email]:focus, select:focus {
        border: 1px solid #27A9E3;
    }

input[type=submit],
input[type=button] {
    display: inline-block;
    vertical-align: middle;
    padding: 12px 24px;
    margin: 0px;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    color: #ffffff;
    background-color: #27A9E3;
    border-radius: 10px;
    border: none;
    -webkit-appearance: none;
    outline: none;
    width: 100%;
    height: 60px;
}

hr.hr15 {
    height: 15px;
    border: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

hr.hr40 {
    height: 40px;
    border: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

hr.hr60 {
    height: 60px;
    border: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.copyright {
    font-size: 14px;
    color: rgba(255,255,255,0.85);
    display: block;
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.vCodeContainer {
    _zoom: 1;
    position: relative;
    overflow: hidden;
    width: 360px;
}

    .vCodeContainer .content {
        margin: auto 14px auto 10px;
        height: 50px;
        float: left;
    }

    .vCodeContainer .vCode-img {
        float: left;
        width: 110px;
        height: 100%;
    }

.error {
    height: 60px;
}

.error-content {
    height: 100%;
    color: red;
    font-size: 16px;
    line-height: 40px;
}

.refresh {
    cursor: pointer;
    margin-top: 10px;
    margin-left: 14px;
}

.linkBox {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 10px;
    top: 50%;
}

    .linkBox .item {
        margin-top: 20px;
    }

#divBubble {
    position: absolute;
    /*padding: 1px;*/
    display: none;
}